.aboutus-container {
  position: relative;
  width: 100%;
  height: 150vh;
  /* height: 100vh; */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease-in-out;
  /* background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1)); */
  background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1));
  margin-top: 82px;
}

.aboutus-image {
  width: 100%;
  height: auto;
  opacity: 0.5;
  /* ทำให้รูปโปร่งใส */
  mix-blend-mode: overlay;
  /* ทำให้กลืนกับพื้นหลัง */
  transition: opacity 0.3s ease-in-out;
  
}


.aboutus-text {
  top: 50px;
  position: absolute;
  color: white;
  text-align: center;
  font-size: 2rem;
  /* background: rgba(0, 0, 0, 0.5); */
  /* padding: 20px 30px; */
  border-radius: 10px;
  width: 100%;
}

.aboutus-items {
  display: flex;
  justify-content: space-evenly;
  padding-top: 20px;
}

.aboutus-item {
  border: solid 1px;
  width: 350px;
  height: 500px;
}

/* .about-us {
  padding: 50px 20px;
  background-color: #ffffff;
  background: linear-gradient(135deg, #00274d, #0056b3);
  color: white;
  text-align: center;
  width: 100%;
  overflow:auto;

}

.about-us h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 40px;
}


.about-us-cards1 {
  display: flex;
  gap: 20px;
  justify-content: flex-start; 
  max-width: 100%; 
  overflow-x: auto; 
  padding: 10px; 
  box-sizing: border-box; 
}

.about-us-cards {
  display: flex;
  gap: 20px;
  justify-content: flex-start; 
  flex-wrap: wrap; 
  max-width: 100%; 
  padding: 10px; 
  box-sizing: border-box; 
  overflow: hidden; 
}


.about-us-card {
  min-width: 250px; 
  max-width: 300px; 
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.about-us-card img {
  width: 100%;
  height: auto; 
  border-radius: 10px;
}

.about-us-card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
} */