.home{
  width: 100%;
}

.hero {
    position: relative;
    /* height: 80vh; */
    background: url('../assets/images/engineer.png') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .hero-text h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
  }