@font-face {
  font-family: "Century Gothic";
  src: url("/src/assets/fonts/centurygothic.ttf") format("truetype");
}

.my-text {
  font-family: "Century Gothic", sans-serif;
}


.home{
  background: linear-gradient(90deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1));
  /* background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1)); */
  width: 100%;
}

.hero {
    position: relative;
    /* height: 80vh; */
    /* background: url('../assets/images/engineer.png') no-repeat center center/cover; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .hero-text {
    position: absolute;
    color: white;
    text-align: center;
    font-size: 2rem;
    background: rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 100%;
  }
  
  .hero-text h1 {
    margin: 0;
    font-size: 3rem;
    line-height: 1.5;
  }
  
  .hero-image {
    width: 100%;
    height: 100%;
  }


  .home-aboutus-container {
    position: relative;
    width: 100%;
    height: auto !important;
    min-height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease-in-out;
    background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1));
    padding: 20px 0 0 0;
  }

  .home-aboutus-image {
    width: 100%;
    height: auto;
    opacity: 0.5;
    mix-blend-mode: overlay;
    transition: opacity 0.3s ease-in-out;
    
  }

  .home-aboutus-container .aboutus-text {
    /* position: absolute; */
    color: white;
    text-align: center;
    border-radius: 10px;
    width: 100%;
    font-size: 20px;
  }


  .home-aboutus-items {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
  }
  
  .home-aboutus-item {
    border: solid 1px;
    width: 300px;
    height: 400px;
  }

.home-aboutus-item .border-header {
  border: solid 1px;
  height: 50px;
  padding-top: 25px;
  padding: 25px 20px 0 20px;
}


  .home-aboutus-item-header{
    font-size: 20px;
    font-weight: 700;
  }

  .home-aboutus-item-footer{
    font-size: 16px;
    font-weight: 400;
  }


  .card-img{
    width: 150px;
    height: 150px;
  }

  .textdiv{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap:nowrap;
    /* padding-top: 30px; */
  }
  /* ####################################################################################################################### */

  @media (max-width: 768px) {

    .home{
      background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1));
      width: 100%;
    }
    
    .hero {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .hero-text {
        position: absolute;
        color: white;
        text-align: center;
        font-size: 20px;
        background: rgba(0, 0, 0, 0.5);
        margin-top: 25px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-radius: 10px;
        width: 100%;
      }
      
      
      .hero-image {
        width: 100%;
        height: 100%;
      }
    
    
      .home-aboutus-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        transition: background 0.3s ease-in-out;
        background: linear-gradient(135deg, rgba(36, 40, 82, 1), rgba(36, 40, 82, 0.1));
        padding: 20px 0 0 0;
      }
    
      .home-aboutus-image {
        width: 100%;
        height: auto;
        opacity: 0.5;
        mix-blend-mode: overlay;
        transition: opacity 0.3s ease-in-out;
        
      }
    
      .home-aboutus-container .aboutus-text {
        color: white;
        text-align: center;
        border-radius: 10px;
        width: 100%;
        font-size: 10px;
      }
        
      .home-aboutus-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
      .home-aboutus-item {
        border: solid 1px;
        width: 90%;
        max-width: 300px;
        height: auto;
        margin-bottom: 20px;
      }
    
    .home-aboutus-item .border-header {
      border: solid 1px;
      height: 45px;
      padding-top: 25px;
      padding: 25px 20px 0 20px;
    }
    
    
      .home-aboutus-item-header{
        font-size: 15px;
        font-weight: 700;
      }
    
      .home-aboutus-item-footer{
        font-size: 10px;
        font-weight: 400;
      }

      .card-img{
        width: 80px;
        height: 80px;
      }

      .textdiv{
        display: flex;
        flex-direction: column;
        justify-content:space-evenly;
        flex-wrap:nowrap;
        /* padding-top: 30px; */
      }
  }

  
 