.footer {
  background-color: #00274d;
  color: white;
  padding-top: 1%;
  text-align: center;
  width: 100%;
}

.footer-container {
  display: flex;
  width: 100%;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item1 {
  width: 70%;
  padding-left: 100px;
}

.item1-header{
  font-size: 20px;
  font-weight: bold;
}

.item1-detail{
  font-size: 14px;
}

.item2 {
  width: 40%;
}

.social{
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer-img-left{
  padding-left: 30px;
}

.footer-img-right{
  width: 25px;
  height: 25px;
}

.footer-botton {
 display: flex;
  background: linear-gradient(0deg, #4A66AC, #4A66AC),linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.footer-botton-right{
 display: flex;
  flex-wrap: nowrap;
 justify-content: space-evenly;

}

.footer-items.item2 {
  display: flex;
  flex-direction: column; /* ค่าเริ่มต้นเป็นแนวตั้ง */
  gap: 10px; /* เพิ่มช่องว่างระหว่างแต่ละรายการ */
}


@media (max-width: 768px) {
  

  .footer-container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .footer-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
    width: 50% !important;
  }

  .item1 {
    width: 50%;
    padding-left: 0;
    display: contents;
  }

  .item1-header{
    font-size: 16px;
    font-weight: bold;
  }

  .item1-detail{
    font-size: 12px;
  }
  
  .item2 {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* แบ่งเป็น 2 คอลัมน์ */
    flex-direction:row;
    padding: 2px 20px 5px 20px;    
    font-size: 12px;
  }

  .social{
    display: flex;
    flex-direction: row;
    width: 90% !important;
    flex-wrap:nowrap;
    justify-content:space-evenly;
  }
  
  .footer-img-left{
    padding-left: 30px;
    width: 20px;
    height: 20px;
  }
  
  .footer-img-right{
    width: 20px;
    height: 20px;
  }

  
    .footer-botton {
    display: flex;
    background: linear-gradient(0deg, #4A66AC, #4A66AC),linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
    font-size: 10px;
  }
  
  .footer-botton-right{
   display: flex;
    flex-wrap: nowrap;
   justify-content: space-evenly;
  
  }

  .footer-items.item2 {
    flex-direction: row; /* เปลี่ยนเป็นแนวนอน */
    flex-wrap: wrap; /* ให้รายการที่เกินไปขึ้นบรรทัดใหม่ */
    justify-content: space-between; /* กระจายรายการให้มีระยะห่าง */
    gap: 15px; /* เพิ่มช่องว่างระหว่างรายการ */
  }

  .footer-items.item2 > div {
    display: flex;
    align-items: center; /* จัดให้อยู่ตรงกลางในแนวตั้ง */
  }

  .footer-img-right {
    margin-right: 10px; /* เพิ่มระยะห่างระหว่างไอคอนกับข้อความ */
  }

}