.footer {
  background-color: #00274d;
  color: white;
  padding-top: 30px;
  text-align: center;
  width: 100%;

}

.footer-container {
  display: flex;
  width: 100%;
}

.footer-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-img-left{
  padding-left: 30px;
}

.footer-img-right{
  width: 50px;
}

.footer-botton {
 display: flex;
  background: linear-gradient(0deg, #4A66AC, #4A66AC),linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.footer-botton-right{
 display: flex;
  flex-wrap: nowrap;
 justify-content: space-evenly;

}